body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.actions-column {
    width: 125px;
}

/* ===== FIX DATATABLES 2.x + MATERIALIZE ===== */

.dt-length .dt-input {
    height: 2rem !important;
    width: auto !important;
    padding: 0 10px !important;
    font-size: 14px !important;
    display: inline-block !important;
}

.dt-search .dt-input {
    height: 2.2rem !important;
    padding: 0 12px !important;
    font-size: 14px !important;
}

.dt-search label {
    font-size: 14px !important;
}

.dt-length label {
    font-size: 14px !important;
}

/* DATATABLE LOOK MATERIAL DESIGN */

table.dataTable thead {
    background: #26a69a; /* tono teal Materialize */
    color: white;
}

table.dataTable tbody tr {
    transition: background 0.2s;
}

table.dataTable tbody tr:hover {
    background: rgba(38, 166, 154, 0.15);
}

.dt-search input.dt-input {
    border-bottom: 2px solid #26a69a !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.dt-length select.dt-input {
    border: 1px solid #26a69a !important;
    border-radius: 4px !important;
}

.dt-paging-button.current {
    background-color: #26a69a !important;
    color: white !important;
}

.dt-paging nav {
    background-color: #00897b !important; /* teal lighten-1 */
}

